<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}問い合わせフォーム{% endblock %}</title>
  {# Run `composer require symfony/webpack-encore-bundle`
     and uncomment the following Encore helpers to start using Symfony UX #}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block javascripts %}
  {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}
</head>
<body>
  <div id="header">
    <h1><a href="{{ path('form') }}">問い合わせフォーム</a></h1>
  </div>
  <div id="main">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
